<div class="grid main">
    <h1>Upload</h1>

    <div align="center">
        <form ref='uploadForm'
              id='uploadForm'
              action='/'
              method='post'
              encType="multipart/form-data">
            <input type="file" name="sampleFile"/>
            <input type='submit' class="btn" value='Upload!'/>
        </form>
      {{#if message}}
          <div class="alert alert-{{message.type}}">{{message.text}}</div>
      {{/if}}
    </div>

    <h1>Files</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>#</td>
            <td>File</td>
        </tr>
        </thead>
        <tbody>
        {{#each files as |value key|}}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
        {{/each}}

        </tbody>
    </table>

</div>
