<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/siimple.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery-1.9.1.js"></script>
    <title>WebApp</title>
</head>
<body>
<div class="navbar">
    <a href="./" class="navbar-logo">WebApp</a>
</div>

{{{body}}}

<div class="foot" align="center">
    <a href="./" class="foot-logo">WebApp</a>
    Made by <a href="http://maggnus.com/">Maxim Korenev</a>
    using <a href="./">Siimple</a>.<br><br>
</div>

</body>
</html>
